{
  "name": "{{.AppName}}-frontend",
  "version": "0.0.0",
  "private": true,
  "type": "module",
  "packageManager": "{{.PackageManager}}",
  "engines": {
    "node": ">={{.NodeVersion}}"
  },
  "scripts": {
    "dev": "vite dev",
    "build": "vite build",
    "preview": "vite preview",
    "check": "svelte-kit sync && svelte-check --tsconfig ./tsconfig.json",
    "check:watch": "svelte-kit sync && svelte-check --tsconfig ./tsconfig.json --watch"
  },
  "devDependencies": {
{{- range $i, $d := .FrontendDeps }}{{if $i}},{{end}}
    "{{$d.Name}}": "{{$d.Version}}"
{{- end }}
  }
}
